[submodule "muli-classpath"]
	path = muli-classpath
	url = git@github.com:wwu-pi/muli-classpath.git
[submodule "muggl-for-muli"]
	path = muggl-for-muli
	url = git@github.com:wwu-pi/muggl.git
	branch = muli-env
[submodule "muli-lang"]
	path = muli-lang
	url = git@github.com:wwu-pi/muli-lang.git
[submodule "muli-env-st"]
	path = muli-env-st
	url = git@github.com:Dagefoerde/muli-ST.git
	branch = muli-env-st
